.team-emblem {
    height: 30px; /* або інший розмір, який вам підходить */
    width: auto;
    margin-right: 10px; /* Додайте відступ праворуч, щоб текст не прилягав впритул до зображення */
    vertical-align: middle; /* Щоб зображення і текст були на одному рівні */
}